
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$colorRojo: #fa4a4a;
$colorNegro: #494949;
$colorNaranja: #fca418;
$coloAzulCielo: #17b6e8;
$colorAmarillo: #ffd022;
$colorGris: #b3b2b2;
$colorGrisIconos: #9b9b9b;
$colorAzulMarino: #06749f;
$colorVerde: #79c471;
